.container{
  position: relative;
  width: 18.75rem;
  background-color:var(--negro);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  border: 2px solid var(--azul);
  
}

.img{
    width: 100%;
    height: auto;
}

.botonContainer{
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap: 20px;
    
}

